
  <% @profiles.each do |profile| %>
    <% artistid = profile.artist_id %>
    <% @artist = Artist.find(artistid) %>
      <div id='artist-index-div'>
        <h3 id="artist-names"><%= link_to "#{profile.name}", artist_profile_path(@artist, profile.id) %></h3>
      </div>
  <% end %>


  <% if current_artist %>
    <% if current_artist.profile %>
    <h3 id='my-profile'><%= link_to "My Profile", edit_artist_profile_path(@artist, @artist.profile)%></h3>
      <%else%>
      <h3><%= link_to "My Profile", new_artist_profile_path(current_artist.id)%></h3>
    <%end%>

  <%end%>
